:root {
    --main-color: #5865f2;
    --font-white: #fff;
    --font-black: #4f545c;
    /* 아이콘내부bar */
    --font-bar: #ccc;
    --font-squre: #f2f2f2;
    --font-button: #3BA55C;
    /* 자세히버튼 */
    --font-footer: #23272a;

}

.container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 71px;
    padding: 0 5%;
}


#logo img {
    width: 124px;
    height: 24px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

nav {
    display: flex;
    font-size: 14px;
}

nav ul {
    display: flex;
}

nav .submenu {
    display: none;

}

nav a {
    padding: 0 15px;
    color: var(--main-color);
}

nav a:visited {
    color: var(--main-color)
}

nav a:hover {
    text-decoration: underline;
}

nav button {
    display: none;
    background-color: transparent;
    outline: none;
    border: none;
}

#main-title {}

.center {
    background-image: url(../img/main.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    font-weight: 700;
    color: var(--font-white);
    font-size: 36px;
    margin-bottom: 104px;
}

.center h1 {
    margin: 15px;
}

.search-icon {
    border: solid 1px red;
    position: absolute;
    bottom: 2px;
}

.search {
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
}

.search input {
    border-radius: 30px;
    width: 90%;
    height: 40px;
    max-width: 600px;
    background: #fff;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 13px center;
    background-size: 17px;
    padding-left: 38px;
    box-sizing: border-box;
    border: solid var(--main-color) 1px;
    margin: 0 auto;
    /* 검색만 옆으로 미루는 방법  */
}

.search input:focus {
    outline: none;
}

#introduce {
    text-align: center;
    color: var(--font-black);
}

.introduce-title>h2 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
}

.introduce-contents {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 60px;

}

.introduce-contents>a {
    color: var(--main-color);
    display: inline;
}

.introduce-contents>a:visited {
    color: var(--main-color)
}

.introduce-contents>a:hover {
    text-decoration: underline;
}

.contents-item {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.contents-item li:hover {
    transform: translateY(-5px);
}

.contents-item li {
    width: 240px;
    height: 260px;
    box-shadow: 0px 9px 30px rgb(200 200 200 / 30%);
    display: flex;
    margin: 10px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    line-height: 20px;
}

.contents-item li a figure {
    width: 100px;
    display: flex;
    margin: 0 auto;
}

.contents-item li a h2 {
    font-size: 22px;
    color: var(--main-color);
}

.contents-item li a p {
    font-size: 14px;
    color: var(--font-black);
    padding: 12px 0 0 0;
}

.other {
    margin: 50px 0 3px;
}

.other-title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.other-item li {
    background-color: var(--font-squre);
}

.item-title::after {
    margin: 0 auto;
    text-align: center;
    content: '';
    display: block;
    width: 50px;
    border-bottom: solid 1px var(--font-bar);
    padding: 20px 0 0 0;
}

.footer-container {
    background-color: var(--font-footer);
    max-width: 100%;
    margin-top: 60px;
    padding: 50px;
    overflow: hidden;
}
.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 42px;
    font-size: 16px;
    background-color:var(--font-button);
    border-radius: 30px;
    /* box-sizing: border-box;
    overflow: hidden; */
    color: var(--font-white);
    margin: 0 auto; 
    border: none;
    /* 클릭되는 버튼이 되게 하는법 */
}
.download-center-container {
    padding-top: 70px;
    display: flex;
<<<<<<< HEAD
    align-items: center;
    justify-content: center;
    border-bottom: 1px rgb(235, 235, 235) solid;
}
.download-background {    
    background: url(../img/device.png) no-repeat;
    box-sizing: border-box;
    background-size: 100% ;
    background-position: center top;
    width: 814px;
    height: 145px;
    display: flex;
    position: relative;
    flex-shrink: 0;
}

.broswer-icon {
    background: url(../img/icon-broswer.svg) no-repeat;
    width: 174px;
    height: 50px;
    position: absolute;
    top: 65px;
    left: 90px;
    opacity: 0.5;
}
.android-icon {
    background: url(../img/icon-android.svg) no-repeat;
    width: 41px;
    height: 50px;
    position: absolute;
    top: 65px;
    left: 380px;
    opacity: 0.5;

}
.apple-icon {
    background: url(../img/apple.svg) no-repeat;
    width: 40px;
    height: 48px;
    position: absolute;
    top: 65px;
    left: 473px;
    opacity: 0.5;

}
.windows-icon{
    background: url(../img/windows.svg) no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 65px;
    left: 620px;
    opacity: 0.5;
}
.osx-icon{
    background: url(../img/x.svg) no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 65px;
    left: 690px;
    opacity: 0.5;

}
=======
    margin-top: 100px;
    flex-wrap: wrap;
}
.apps img {
    height: 50px;
    opacity: 0.7;
}
#footer-logo img {
    height: 36px;
    /* display: none; */
}
/* .support {
    display: none;
}
.partner {
    display: none;
}
.office {
    display: none;
} */
>>>>>>> 63cc83fee6f3005e5bf40ef9df170bfbdbb87b06

footer nav{
    padding: 160px 0 0 160px;
}




@media screen and (max-width:550px) {
    header .container ul {
        display: none;
    }

    nav button {
        display: block;
        color: #5865f2;
    }

    nav a {
        margin-top: 5px;
    }
