:root {
    --main-color: #5865f2;
    --font-white: #fff;
    --font-black: #4f545c;
    /* 아이콘내부bar */
    --font-bar: #ccc;
    --font-squre: #f2f2f2;
    --font-button: #3BA55C;
    /* 자세히버튼 */
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 71px;
    padding: 0 3%;
}


#logo img {
    width: 124px;
    height: 24px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

nav {
    display: flex;
    font-size: 14px;
}

nav ul {
    display: flex;
    padding: 0 15px;
}

nav .submenu {
    display: none;
    
}

nav a {
    padding: 0 15px;
    color : var(--main-color);
}

nav a:visited {
    color : var(--main-color)
}

nav a:hover {
    text-decoration: underline;
}

#main-title {}

.center {
    background-image: url(../img/main.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.center {
    font-weight: 700;
    color: var(--font-white);
    font-size: 36px;
}

.center h1 {
    margin: 15px;
}

.search {
    width: 100%;
    box-sizing: border-box;
}

.search input {
    border-radius: 30px;    
    width: 90%;
    margin: 0 5% 0 5%;
    height: 40px;
    max-width: 600px;
    /* 검색만 옆으로 미루는 방법  */
}

#introduce {
    text-align: center;
    margin-top: 104px;
    color: var(--font-black);

}

.introduce-title>h2 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
}

.introduce-contents {
    font-size: 16px;
    line-height: 25px;

}

.introduce-contents>a {
    color: var(--main-color);
    display: inline;
}

.introduce-contents>a:visited {
    color : var(--main-color)
}

.introduce-contents>a:hover {
    text-decoration: underline;
}

.info {
    width: 240px;
    height: 260px;
    box-sizing: border-box;
}


